// Variables :: Color

// Base Colors
$transparent:   transparent;
$black:         #000;
$white:         #fff;
$gray-dark:     #333;


// Q Colors
$q-blue-bg:         #207BB3;
$q-border:          #323b44;