// Variables :: Viewport

// XS devices (mobile phones, 767px and under)
$viewport-xs:   767px;

// Small devices (tablets, 768px and up)
$viewport-sm:   768px;

// Medium devices (desktops, 992px and up)
$viewport-md:   992px;

// Large devices (large desktops, 1200px and up)
$viewport-lg:   1200px;